mat-card {
    height: 530px;
    width: 350px;
    margin:20px
  }
  .register {
    background-image: url("../../assets/Jio.png");
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .input{
      width:95%;
  }