<div fxLayout="row wrap" fxLayoutAlign="end start" class="backgroundImage">
    <mat-card>
        <form class="form" [formGroup]="registrationForm">
            <h3>Welcome</h3>
            <p>Register to get started!</p>
            <mat-form-field class="input">
                <input matInput placeholder="userName" formControlName="username">
                <mat-error *ngIf="registrationForm.get('username').hasError('required')">userName is required
                </mat-error>
            </mat-form-field>

            <mat-form-field class="input">
                <input matInput placeholder="firstName" formControlName="firstName">
                <mat-error *ngIf="registrationForm.get('firstName').hasError('required')">firstName is required
                </mat-error>
            </mat-form-field>

            <mat-form-field class="input">
                <input matInput placeholder="lastName" formControlName="lastName">

                <mat-error *ngIf="registrationForm.get('lastName').hasError('required')">lastName is required
                </mat-error>
            </mat-form-field>

            <mat-form-field class="input">
                <input matInput type="password" placeholder="password" formControlName="password">
                <mat-error *ngIf="registrationForm.get('password').hasError('required')">password is required
                </mat-error>
            </mat-form-field>

            <mat-form-field class="input">
                <input matInput type="password" placeholder="confirmPassword" formControlName="confirmPassword" (input)="onPasswordInput()">
                <mat-error *ngIf="registrationForm.get('confirmPassword').hasError('required')">confirmPassword is required
                </mat-error>
                <mat-error *ngIf="registrationForm.get('confirmPassword').invalid && !registrationForm.get('confirmPassword').hasError('required')">Passwords don't match</mat-error>
            </mat-form-field>

            <div fxLayout="row" style="width:100%;margin-top:20px" fxLayoutGap="10px">
                <button fxFlex mat-raised-button color="primary" (click)="registration()">Register</button>
            </div>
        </form>

        <mat-card-footer style="padding:0px" fxLayoutAlign="center stretch">
            <p>Already Have a Account? <a href="/login">Login Here.</a></p>
        </mat-card-footer>
    </mat-card>
</div>