<div fxLayout="row wrap" fxLayoutAlign="end start" class="backgroundImage">
  <mat-card>
    <form class="form" [formGroup]="loginForm">
      <h3>Welcome</h3>
      <p>Login to get started!</p>
      <mat-form-field class="input">
        <input matInput placeholder="userName" formControlName="username">
        <mat-error *ngIf="loginForm.get('username').hasError('required')">userName is required
        </mat-error>
      </mat-form-field>

      <mat-form-field class="input">
        <input matInput type="password" placeholder="password" formControlName="password">
        <mat-error *ngIf="loginForm.get('password').hasError('required')">userName is required
        </mat-error>
      </mat-form-field>
      <div fxLayout="row" style="width:100%;margin-top:20px" fxLayoutGap="10px">
        <button fxFlex mat-raised-button color="primary" (click)="login()">Login</button>
        <button fxFlex mat-raised-button>Forget Password ?</button>
      </div>
    </form>

    <mat-card-footer style="padding:0px" fxLayoutAlign="center stretch">
      <p>First time here? <a href="/registration">Create an account here.</a></p>
    </mat-card-footer>
  </mat-card>
</div>